<?php
if(isset($_COOKIE['user'])) {
  $data = unserialize($_COOKIE['user']);
} else {
  header('Location: /index.php?page=login');
}
if(!isset($_GET['type'])) {
  header('Location: /index.php?page=overview');
}
$type = $_GET['type'];
if (!((in_array('Create Department Tasks', array_column($data['permissions'], "name")) && $type == 'department') || (in_array('Create Company Tasks', array_column($data['permissions'], "name")) && $type == 'company'))){
  header('Location: /index.php?page=overview');
}
include "models/dbh.classes.php";
include "models/users.models.php";
include "controllers/users.controller.php";
$usersController = new UserController();
$users = null;
if($type == 'department') {
  $users = $usersController->getAllUsersFromDepartment($data['department']);
} else if($type == 'company') {
  $users = $usersController->getAllUsersFromDepartment(0);
}
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="views/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    <title>Document</title>
  </head>
  <body class="row">
    <nav class="sidebar col-2">
      <div>
        <div class="title">Office Online</div>
        <ul>
          <li>
            <a href="/index.php?page=overview">
              <div><i class="bi bi-clipboard-data"></i></div>
              <div>Overview</div></a
            >
          </li>
          <li class="active">
            <a href="/index.php?page=task-menu">
              <div>
                <i class="bi bi-kanban"></i>
              </div>
              <div>Tasks</div></a
            >
          </li>
          <?php if (in_array('Manage Users', array_column($data['permissions'], "name"))): ?>
          <li>
            <a href="/index.php?page=users"
              ><div><i class="bi bi-people-fill"></i></div>
              <div>Users</div></a
            >
          </li>
          <?php endif; ?>
          <?php if (in_array('Manage Roles', array_column($data['permissions'], "name"))): ?>
          <li>
            <a href="/index.php?page=roles"
              ><div><i class="bi bi-people-fill"></i></div>
              <div>Roles</div></a
            >
          </li>
          <?php endif; ?>
        </ul>
      </div>
      <div>
        <hr />
        <ul>
          <li>
            <a href="/users">
              <div><i class="bi bi-gear"></i></div>
              <div>Setting</div></a
            >
          </li>
        </ul>
        <div class="d-flex justify-content-between align-items-center">
          <div class="profile">
            <div class="image">
              <img src="assets/blank-profile.webp" alt="" />
            </div>
            <div class="info">
              <div class="name"><?php echo $data['name']; ?></div>
              <div class="email"><?php echo $data['email']; ?></div>
            </div>
          </div>
          <div>
            <button
              id="logout"
              class="button-primary"
              data-bs-toggle="modal"
              data-bs-target="#logoutModal"
            >
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content col-9">
      <div
        class="modal fade"
        id="logoutModal"
        tabindex="-1"
        aria-labelledby="logoutModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">Are you sure you want to logout?</div>
            </div>
            <form
              id="logoutForm"
              action="includes/logout.inc.php"
              method="post"
            >
              <div class="modal-footer">
                <button
                  type="button"
                  class="button button-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  id="logoutButton"
                  type="submit"
                  name="submit"
                  class="button button-primary"
                >
                  <i class="bi bi-box-arrow-right"></i>Logout
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <h1>Create a New Task</h1>
      <div>
        <form action="includes/create-task.inc.php?created_by=1&type=department&department=1" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Task Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input
              type="datetime-local"
              class="form-control"
              id="deadline"
              name="deadline"
              required
            />
          </div>
          <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <select name="priority" class="form-control" id="priority">
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="assignee" class="form-label">Assignee</label>
            <select name="assignee"  class="form-control" id="assignee">
              <?php
              foreach ($users as $user) {
                echo "<option value='" . $user['id'] . "'>" . $user['name'] . "</option>";
              }
              ?>
            </select>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="description"></textarea>
          </div>
          <input type="hidden" name="type" value="<?php echo $type; ?>" />
          <div class="d-flex gap-3 justify-content-end">
            <button class="button button-secondary">Cancel</button>
            <button type="submit" name="submit" class="button button-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
