.task-deadline {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.task-info {
  display: flex;
  justify-content: space-between;
}

.task-info .assignee img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.task-info .info {
  display: flex;
  gap: 0.5rem;
}

.task-info .info .info-item {
  display: flex;
  gap: 0.25rem;
}

.task-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
